.center {
    margin: auto;
    width: 25%;
    padding: 10px;
  }

  .u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 1.875rem;
    margin: 47px auto 0;
  }
  
  .u-section-1 .u-line-1 {
    width: 1023px;
    height: 3px;
    transform-origin: left center 0px;
    margin: 6px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    font-weight: 700;
    font-size: 1.875rem;
    text-align: start;
    margin: 23px auto 0 59px;
  }
  
  .u-section-1 .u-custom-html-1 {
    min-height: 387px;
    width: 1023px;
    margin: 8px auto 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: linear-gradient(to right, #478ac9, #2cccc4);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    margin: 23px 249px 0 auto;
    padding: 8px 105px 9px;
  }
  
  .u-section-1 .u-btn-2 {
    background-image: linear-gradient(to right, #478ac9, #2cccc4);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    margin: -41px auto 13px 249px;
    padding: 8px 97px 9px 95px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-line-1 {
      width: 940px;
    }
  
    .u-section-1 .u-custom-html-1 {
      height: auto;
      width: 940px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-right: 49px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-left: 49px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-line-1 {
      width: 720px;
    }
  
    .u-section-1 .u-custom-html-1 {
      width: 720px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-right: 0;
    }
  
    .u-section-1 .u-btn-2 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 813px;
    }
  
    .u-section-1 .u-line-1 {
      width: 540px;
    }
  
    .u-section-1 .u-custom-html-1 {
      width: 540px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-top: 29px;
      margin-right: auto;
      margin-bottom: 12px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: 11px;
      margin-left: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-line-1 {
      width: 340px;
    }
  
    .u-section-1 .u-custom-html-1 {
      width: 340px;
    }
  
    .u-section-1 .u-btn-2 {
      margin-top: 20px;
    }
  } .u-section-2 {
    background-image: none;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 541px;
  }
  
  .u-section-2 .u-text-1 {
    font-weight: 700;
    font-size: 1.875rem;
    text-align: start;
    margin: 23px auto 0 58px;
  }
  
  .u-section-2 .u-custom-html-1 {
    min-height: 387px;
    width: 1023px;
    margin: 8px auto 0;
  }
  
  .u-section-2 .u-btn-1 {
    background-image: linear-gradient(to right, #478ac9, #2cccc4);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    margin: 23px 249px 0 auto;
    padding: 8px 105px 9px;
  }
  
  .u-section-2 .u-btn-2 {
    background-image: linear-gradient(to right, #478ac9, #2cccc4);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    margin: -41px auto 23px 249px;
    padding: 8px 97px 9px 95px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-custom-html-1 {
      height: auto;
      width: 940px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-right: 49px;
    }
  
    .u-section-2 .u-btn-2 {
      margin-left: 49px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-custom-html-1 {
      width: 720px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-right: 0;
    }
  
    .u-section-2 .u-btn-2 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 599px;
    }
  
    .u-section-2 .u-custom-html-1 {
      width: 540px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-right: auto;
    }
  
    .u-section-2 .u-btn-2 {
      margin-left: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-custom-html-1 {
      width: 340px;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 540px;
  }
  
  .u-section-3 .u-text-1 {
    font-weight: 700;
    font-size: 1.875rem;
    text-align: start;
    margin: 23px auto 0 58px;
  }
  
  .u-section-3 .u-custom-html-1 {
    min-height: 387px;
    width: 1023px;
    margin: 8px auto 0;
  }
  
  .u-section-3 .u-btn-1 {
    background-image: linear-gradient(to right, #478ac9, #2cccc4);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    margin: 23px 249px 0 auto;
    padding: 8px 105px 9px;
  }
  
  .u-section-3 .u-btn-2 {
    background-image: linear-gradient(to right, #478ac9, #2cccc4);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    margin: -41px auto 23px 249px;
    padding: 8px 97px 9px 95px;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-custom-html-1 {
      height: auto;
      width: 940px;
    }
  
    .u-section-3 .u-btn-1 {
      margin-right: 49px;
    }
  
    .u-section-3 .u-btn-2 {
      margin-left: 49px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-custom-html-1 {
      width: 720px;
    }
  
    .u-section-3 .u-btn-1 {
      margin-right: 0;
    }
  
    .u-section-3 .u-btn-2 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 599px;
    }
  
    .u-section-3 .u-custom-html-1 {
      width: 540px;
    }
  
    .u-section-3 .u-btn-1 {
      margin-top: 31px;
      margin-right: auto;
      margin-bottom: 12px;
      padding-bottom: 8px;
    }
  
    .u-section-3 .u-btn-2 {
      margin-top: 8px;
      margin-left: auto;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 601px;
    }
  
    .u-section-3 .u-custom-html-1 {
      width: 340px;
    }
  
    .u-section-3 .u-btn-1 {
      margin-bottom: 0;
    }
  
    .u-section-3 .u-btn-2 {
      margin-top: 12px;
    }
  } .u-section-4 {
    background-image: none;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 540px;
  }
  
  .u-section-4 .u-text-1 {
    font-weight: 700;
    font-size: 1.875rem;
    text-align: start;
    margin: 23px auto 0 58px;
  }
  
  .u-section-4 .u-custom-html-1 {
    min-height: 387px;
    width: 1023px;
    margin: 8px auto 0;
  }
  
  .u-section-4 .u-btn-1 {
    background-image: linear-gradient(to right, #478ac9, #2cccc4);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    margin: 23px 249px 0 auto;
    padding: 8px 105px 9px;
  }
  
  .u-section-4 .u-btn-2 {
    background-image: linear-gradient(to right, #478ac9, #2cccc4);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    margin: -41px auto 0 249px;
    padding: 8px 97px 9px 95px;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-custom-html-1 {
      height: auto;
      width: 940px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-right: 49px;
    }
  
    .u-section-4 .u-btn-2 {
      margin-left: 49px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-custom-html-1 {
      width: 720px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-right: 0;
    }
  
    .u-section-4 .u-btn-2 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
      min-height: 599px;
    }
  
    .u-section-4 .u-custom-html-1 {
      width: 540px;
    }
  
    .u-section-4 .u-btn-1 {
      margin-right: auto;
      margin-bottom: 12px;
    }
  
    .u-section-4 .u-btn-2 {
      margin-top: 17px;
      margin-left: auto;
      margin-bottom: 23px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-custom-html-1 {
      width: 340px;
    }
  
    .u-section-4 .u-btn-2 {
      margin-top: 20px;
      margin-bottom: 0;
    }
  } .u-section-5 {
    background-image: none;
  }
  
  .u-section-5 .u-sheet-1 {
    min-height: 631px;
  }
  
  .u-section-5 .u-text-1 {
    font-weight: 700;
    font-size: 1.875rem;
    text-align: start;
    margin: 23px auto 0 58px;
  }
  
  .u-section-5 .u-custom-html-1 {
    min-height: 387px;
    width: 1023px;
    margin: 8px auto 0;
  }
  
  .u-section-5 .u-btn-1 {
    background-image: linear-gradient(to right, #478ac9, #2cccc4);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    margin: 23px 249px 0 auto;
    padding: 8px 105px 9px;
  }
  
  .u-section-5 .u-btn-2 {
    background-image: linear-gradient(to right, #478ac9, #2cccc4);
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9375rem;
    letter-spacing: 1px;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    margin: -41px auto 0 249px;
    padding: 8px 97px 9px 95px;
  }
  
  .u-section-5 .u-custom-html-2 {
    min-height: 65px;
    margin-top: 21px;
    margin-bottom: 27px;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-custom-html-1 {
      width: 940px;
    }
  
    .u-section-5 .u-btn-1 {
      margin-right: 49px;
    }
  
    .u-section-5 .u-btn-2 {
      margin-left: 49px;
    }
  
    .u-section-5 .u-custom-html-2 {
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-custom-html-1 {
      width: 720px;
    }
  
    .u-section-5 .u-btn-1 {
      margin-right: 0;
    }
  
    .u-section-5 .u-btn-2 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-custom-html-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-custom-html-1 {
      width: 340px;
    }
  }